.eventTable {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}
@media only screen and (max-width: 600px){
    .eventTable {
        flex-direction: column;
        gap: 0em;
    }
    .eventList{
        padding-inline-start: 0px;
    }
}
.eventColumn{
    flex: 50%
}
.eventList {
    list-style: none;
}
.eventCardBox{
    border: 2px solid #008000;
    margin: 10px;
    padding: 3px;
}
.eventSpecs{
    display: flex;
    justify-content: center;
    padding: 2px;
}
